body {
    background-color: rgb(13, 13, 13);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cursor {
    width: 10px;
    height: 10px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 40%;
    position: absolute;
}

.credits {
    margin-top: 0;
    font: clamp(0.5em, 1vw, 2em) sans-serif;
    text-align: center;
    color: #ff0000;
    grid-column: 2/3;
    grid-row: 1/2;
}

.wrapper {
    margin-top: 50%;
    width: 28ch;
    place-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
}

.typing-demo {
    width: 28ch;
    animation: typing 2s steps(25), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

form {
    margin: 25% 10vh;
    width: 50%;
    grid-column: 2/3;
    grid-row: 2/3;
}

form .form-control {
    display: block;
    font-size: 1em;
    text-decoration: none;
    margin: 20% 0;
    width: clamp(200px, 20vw, 100vw);
    color: rgb(255, 0, 0);
    border: 1px rgb(255, 0, 0) solid;
    border-radius: 5px;
    transition: 0.5s;
}

form input[type="submit"] {
    display: block;
    font-size: 1em;
    text-decoration: none;
    margin: 20% 0;
    background-color: black;
    width: clamp(150px, 20vw, 40vw);
    color: rgb(255, 0, 0);
    border: 1px rgb(255, 0, 0) solid;
    border-radius: 5px;
    transition: 0.5s;
}

form input[type="submit"]:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

@media (max-width:600px) {
    body {
        grid-template-columns: 1fr;
    }
    form {
        margin: 0;
        width: 100vw;
    }
    form .form-control {
        width: 100vw;
        padding: 5vw;
    }
    form input[type="submit"] {
        width: 100vw;
        padding: 5vw;
    }
}