body{
    background-color: rgb(49, 49, 49);
}

.credits {
    margin-top: 0;
    font: clamp(0.5em, 1vw, 2em) sans-serif;
    text-align: center;
    color: #ff0000;
}

select{
    margin:25%;
}

input[type="image"]{
    transition: 0.5s;
}

input[type="image"]:hover{
    border: 10px solid #ff0000;
}


@keyframes zoom {
    0% {
        width: 0%;
        Height: 0%;
        margin-left: 70%;
    }

    100% {
        width: 70%;
        Height: 20%;
        margin-left: 10%;
    }
}

@keyframes example {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 20%;
    }
}

table {
    width: 100%;
    height: 50%;
}

table .form {
    width: 50%;
    margin-top: 20%;
    margin-left: 10%;
    animation-name: example;
    animation-duration: 3s;
}

table .info {
    float: left;

    animation-name: zoom;
    animation-duration: 1s;
    color: aliceblue;
}

table .info img{
    width: 20%;
}
