body{
    margin: 0;

    background-color: rgb(24, 24, 24);
}

*{
    box-sizing: border-box;
}

.overlay{
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
}

img {
    width: 25vw;
    margin-top: 20%;
    margin-left: 20%;
}

.credits {
    margin-top: 0;
    font: clamp(0.5em, 1vw, 2em) sans-serif;
    text-align: center;
    color: #ff0000;
}

form {
    float: right;
    width: 45vw;
    animation-name: example;
    animation-duration: 3s;
}

@media (max-width: 600px) {
    form{
        float: left;
        width: 100vw;
    }
    .overlay{
        width: 100vw;
    }
}
