.show_chapter_img {
    animation-name: show_chapter_img_up;
    animation-duration: 2s;
    display: block;
    max-width: 100%;
    height: auto;
}

@keyframes show_chapter_img_up {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 0%;
    }
}

.zoom {
    transition: transform .1s;
    margin: 0 auto;
    display: block;
    max-width: 500px;
    height: auto;
    border-bottom: 10px solid black;
}

.zoom:hover {
    transform: scale(1.2);
}

.next_chapter_form .btn {
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
}

.search_chapter_form select {
    margin-top: 0px;
    position: fixed;
}

