<form action="/show_chapter" method="POST">
  <label for="title">Manga title</label
  ><input type="text" name="manga_title" /> <label for="chapter">Chapter</label
  ><input type="number" name="manga_chapter" />
  <input type="submit" value="go" />
</form>
