<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Document</title>
</head>
<body>

<p class="text-center"><%= panels.length %>panels                     powered by MangaDex and Ayman Lyesri</p>

<div class="container">

<% panels.forEach(panel => { %>

    <div class="small-box mx-lg-auto"><img src="<%= panel %>" style="width: 100%;"></img></div>

<% }); %>

<form class="w-100" action="/show_chapter" method="POST">
    <input type="hidden" name="manga_title" value="<%= manga_title %>">
    <input type="hidden" name="manga_chapter" value="<%= next_chapter %>">
    <input class="small-box mx-auto btn btn-outline-light" type="submit" value="next chapter">
</form>

</div>

</body>
</html>
