<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/views/style.css" />
    <title>Show mangas</title>
  </head>
  <body class="bg-dark text-light">
    <p class="text-center">powered by AymanLyesri and MangaDex</p>

    <%var x=0; list.forEach(element=> {%>

    <form class="show_manga_form" action="/search_chapter" method="POST">
      <table>
        <tr>
          <td style="width: 50%">
            <h1><%=element.title%></h1>
            <img src="/img/<%=x++%>.png" />
            <input type="hidden" name="cover_id" value="<%=x%>" />
            <input type="hidden" name="manga_id" value="<%=element.id%>" />
          </td>
          <td rowspan="2">
            <label>
              <input type="submit" value="watch" /><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
              >
                <circle style="fill: #2d2d2d" cx="256" cy="256" r="256" />
                <path
                  style="fill: #ffffff"
                  d="M256,489.296C127.36,489.296,22.704,384.64,22.704,256C22.704,127.352,127.36,22.696,256,22.696  c128.648,0,233.304,104.656,233.304,233.304C489.304,384.64,384.648,489.296,256,489.296z M256,30.696  C131.768,30.696,30.704,131.768,30.704,256c0,124.224,101.072,225.296,225.296,225.296c124.232,0,225.304-101.072,225.304-225.296  C481.304,131.768,380.232,30.696,256,30.696z"
                />
                <path
                  style="fill: #db2b42"
                  d="M156.64,387.712V124.288l246.72,131.72L156.64,387.712z"
                />
              </svg>
            </label>
          </td>
        </tr>
      </table>
    </form>

    <%})%>
  </body>
</html>
