<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="include/style.css" />
    <title>Show mangas</title>
  </head>
  <body class="bg-dark text-light">
    <%var x=0; list.forEach(element=> {%>

    <form class="show_manga_form" action="/search_chapter" method="POST">
      <h1><%=element.title%></h1>
      <input type="hidden" name="manga_id" value="<%=element.id%>" />
      <input type="submit" value="watch" />
    </form>

    <img src="/img/<%=x++%>.png" />

    <%})%>
  </body>
</html>
