<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show mangas</title>
  </head>
  <body>
    <% var x=0; list.forEach(element => { %>

    <div>
      <p><%=element.title%></p>
      <p><%=element.authors[0].biography%></p>
      <!-- <img src="<%=element.mainCover%>" /> -->
    </div>

    <%})%>
  </body>
</html>
