
#welcome{
    animation-name: example;
    animation-duration: 1s;
    margin-top: 20%;
}

@keyframes example {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 20%;
    }
}

@keyframes zoom {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
table{
    width: 100%;
}

table .form{
    width: 50%;
    margin-top: 20%;
    animation-name: example;
    animation-duration: 3s;
}

table .info {
    width: 50%;
    height: 50%;
    animation-name: zoom;
    animation-duration: 2s;
}

table .info p{
    width: 50%;
}

.show_manga_form{
    width: 50%;
    margin-top: 5%;
    animation-name: show_manga_form_up;
    animation-duration: 2s;
}

@keyframes show_manga_form_up {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 5%;
    }
}

.show_chapter_img{
    animation-name: show_chapter_img_up;
    animation-duration: 2s;
}

@keyframes show_chapter_img_up {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 0%;
    }
}
