#welcome{
    animation-name: example;
    animation-duration: 2s;
    margin-top: 40%;
}

@keyframes example {
    0% {
        margin-top: 50%;
    }

    100% {
        margin-top: 0%;
    }
}

form{
    width: 50%;
    animation-name: example;
    animation-duration: 2s;
}

img{
    animation-name: example;
    animation-duration: 2s;
}