<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/index/style.css" />
    <title>welcome</title>
  </head>
  <body>
    <div class="container">
      <p class="credits">powered by AymanLyesri and MangaDex</p>
      <div class="search_manga">
        <h1>MangaReader</h1>
        <a href="search_manga">search manga</a>
      </div>
    </div>
  </body>
</html>
