
.welcome{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.credits {
    text-align: center;
    color: #ff0000;
}

@keyframes example {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 20%;
    }
}

    

