body {
    background-color: rgb(13, 13, 13);
    margin: 0;
    cursor: url("/icons/icons8-cursor-24.png"), auto;
}

.cursor {
    width: 10px;
    height: 10px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 40%;
    position: absolute;
}

.credits {
    margin-top: 0;
    font: 2vh sans-serif;
    text-align: center;
    color: #ff0000;
    grid-column: 2/3;
    grid-row: 1/2;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.search_manga {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.search_manga h1 {
    font-size: clamp(1em, 4vw, 3vw);
    height: 10%;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: 0.5s;
}

.search_manga a {
    display: block;
    font-size: 1em;
    text-decoration: none;
    padding: 5%;
    margin: auto;
    width: 20vw;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    transition: 0.5s;
}

.search_manga a:hover {
    padding: 10%;
    background: #a70000;
    border: 1px rgb(0, 0, 0) solid;
}