.show_manga_form {
    width: 100%;
    margin-top: 5%;
    animation-name: show_manga_form_up;
    animation-duration: 2s;
}

.show_manga_form table {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    background-color: rgb(150, 50, 50);
    perspective: 1px;
    border-collapse: separate;
}

@keyframes show_manga_form_up {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 5%;
    }
}

.show_manga_submit {
    width: 50%;
    margin-top: 5%;
}

.show_manga_submit:hover {
    background-color: #f10000;
    color: rgb(155, 15, 15);
}

.show_manga_submit:active {
    background-color: #141313;
    color: rgb(24, 21, 21);
}

.search_manga_form {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

.search_manga_form .form-control {
    width: 100%;
}

.search_manga_form input[type="submit"] {
    width: 100%;
}

.search_manga_form table {
    width: 100%;
}

.lang_img {
    width: 20%;
}

.search_manga_form_up {
    animation-name: search_manga_form_up;
    animation-duration: 2s;
}

@keyframes search_manga_form_up {
    0% {
        margin-top: 25%;
    }

    100% {
        margin-top: 5%;
    }
}

.search_manga_form_quit {
    margin-top: 25%;
    margin-bottom: 100%;
    animation-name: search_manga_form_quit;
    animation-duration: 2s;
}

@keyframes search_manga_form_quit {
    0% {
        margin-top: 5%;
        margin-bottom: 0%;
    }

    100% {
        margin-top: 25%;
        margin-bottom: 100%;
    }
}

.show_manga_next{
    width: 50%;
}

.show_manga_next .btn {
    width: 50%;
    margin-right: 50%;
}

.show_manga_previous {
    width: 50%;
}

.show_manga_previous .btn {
    width: 50%;
    margin-left: 50%;
}

.previous_next{
    margin-top: 10%;
    width: 100%;
}



