.show_manga_form {
    width: 100%;
    margin-top: 5%;
    animation-name: show_manga_form_up;
    animation-duration: 2s;
}

.show_manga_form table {
    border-top: 5px solid rgb(150, 50, 50);
    border-bottom: 5px solid rgb(150, 50, 50);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(150, 50, 50);
}

@keyframes show_manga_form_up {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 5%;
    }
}

.show_manga_submit {
    width: 50%;
    margin-top: 5%;
}

.show_manga_submit:hover {
    background-color: #f10000;
    color: rgb(155, 15, 15);
}

.show_manga_submit:active {
    background-color: #141313;
    color: rgb(24, 21, 21);
}

.search_manga_form {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    animation-name: search_manga_form_up;
    animation-duration: 2s;
}

@keyframes search_manga_form_up {
    0% {
        margin-top: 25%;
    }

    100% {
        margin-top: 5%;
    }
}

.show_manga_next{
    margin-top: 5%;
}

.show_manga_next input[type="submit"] {
    width: 50%;
    margin-left: 25%;
}
